<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Task Wizard</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Styles-->
    <link rel="stylesheet" href="/bootstrap-5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <!--Bootstrap -->
    <script src="/bootstrap-5.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <div class="header-container">
        <img class="hc-pic mx-auto" src="/images/headLogo.png" alt="">
        <h2 class="hc-title">TaskWizard</h2>
    </div>
</header>
<div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-6">
        <div class="card" style="border-radius: 20px;">
            <div class="card-body">
                <form name="myForm" action="/add" onsubmit="return validateForm()" method="POST">
                    <div class="input-group mb-3">
                        <input type="text" name="task_description" class="form-control" placeholder="Add task..." aria-label="Add task" aria-describedby="button-addon2">
                        <button type="submit" class="btn btn-outline-secondary" id="button-addon2">Add</button>
                    </div>
                </form>
                <ul class="list-group border">
                    <li th:each="task : ${tasks}" class="list-group-item d-flex justify-content-between align-items-center border-0 mb-2">
                        <form th:action="@{/update/{id}(id=${task.id})}" method="POST">
                            <input type="hidden" name="_method" value="PATCH">
                            <div class="form-check">
                                <div class="d-flex">
                                    <div class="form-switch form-check ms-2">
                                        <input type="checkbox" class="form-check-input" id="checkbox-[${task.id}]" th:checked="${task.isCompleted}" onchange="this.form.submit()">
                                        <input type="hidden" name="completed" th:value="${!task.isCompleted}">
                                        <label for="checkbox-[${task.id}]" class="form-check-label"></label>
                                    </div>
                                    <div class="task-description">
                                        <span th:text="${task.description}" th:class="${task.isCompleted}?'text-muted me-2 task-completed':'me-2 task-active'"></span>
                                        <i class="bi bi-check2-circle text-success" th:if="${task.isCompleted}"></i>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form th:action="@{/delete/{id}(id=${task.id})}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-dark">X</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer><p>© 2023-2024 Simple Todo web app</p></footer>
<!--Scripts-->
<script defer src="/scripts/jquery-3.6.4.min.js"></script>
<script defer src="/scripts/string-validator.js"></script>
<script defer src="/scripts/Sortable.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        new Sortable(document.querySelector('.list-group'), {
            animation: 350,
        });
    });
</script>
</body>
</html>